In [2]:
# Exercise 1: Automating Sales Data Analysis with Copilot
# Task 1: Setup and Data Loading (Import Libraries & Read Data)

import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('supermarket_sales .csv')

# Display the first five rows
print(df.head())

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

In [3]:
# Inspect the structure of the DataFrame
print(df.info())
print("\nFirst five rows:")
print(df.head())

print("\nColumn Names:")
print(df.columns)

print("\nSummary Statistics:")
print(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB
None

First five rows:
    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

Column Names:
Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

Summary Statistics:
         Invoice ID Branch    City Customer type  Gender         Product line  \
count          1000   1000    1000          1000    1000                 1000
unique         1000      3       3             2       2                    6
top     750-67-8428      A  Yangon        Member  Female  Fashion accessories
freq              1    340     340           501     501                  178
mean            NaN    NaN     NaN           NaN     NaN                  NaN
std             NaN    NaN     NaN           NaN     NaN                  NaN
min             NaN    NaN     NaN           NaN     NaN                  NaN
25%             NaN    NaN     NaN           NaN     NaN                  NaN
50%             NaN    NaN     NaN           NaN     NaN                  NaN
75%             NaN    NaN     NaN           NaN     NaN                  NaN
max             NaN    NaN     NaN           NaN     NaN                  NaN

         Unit price     Quantity       Tax 5%        Total      Date   Time  \
count   1000.000000  1000.000000  1000.000000  1000.000000      1000   1000
unique          NaN          NaN          NaN          NaN        89    506
top             NaN          NaN          NaN          NaN  2/7/2019  19:48
freq            NaN          NaN          NaN          NaN        20      7
mean      55.672130     5.510000    15.379369   322.966749       NaN    NaN
std       26.494628     2.923431    11.708825   245.885335       NaN    NaN
min       10.080000     1.000000     0.508500    10.678500       NaN    NaN
25%       32.875000     3.000000     5.924875   124.422375       NaN    NaN
50%       55.230000     5.000000    12.088000   253.848000       NaN    NaN
75%       77.935000     8.000000    22.445250   471.350250       NaN    NaN
max       99.960000    10.000000    49.650000  1042.650000       NaN    NaN

        Payment        cogs  gross margin percentage  gross income      Rating
count      1000  1000.00000              1000.000000   1000.000000  1000.00000
unique        3         NaN                      NaN           NaN         NaN
top     Ewallet         NaN                      NaN           NaN         NaN
freq        345         NaN                      NaN           NaN         NaN
mean        NaN   307.58738                 4.761905     15.379369     6.97270
std         NaN   234.17651                 0.000000     11.708825     1.71858
min         NaN    10.17000                 4.761905      0.508500     4.00000
25%         NaN   118.49750                 4.761905      5.924875     5.50000
50%         NaN   241.76000                 4.761905     12.088000     7.00000
75%         NaN   448.90500                 4.761905     22.445250     8.50000
max         NaN   993.00000                 4.761905     49.650000    10.00000